/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */
$space-tiny: 2px;
$space-xxs:  3px;
$space-xs:   9px;
$space-sm:  18px;
$space-md:  24px;
$space-lg:  36px;
$space-xl:  54px;
$space-xxl: 72px;