/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/site
 * -----------------------------------------------------------------------------
 */

nav.site__nav {
  align-items: flex-end;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .12s 0 ease-out;
  z-index: -1;

  &.is-visible {
    height: calc(100% - (#{$header-height-sm} + #{$space-md}));
    opacity: 1;
    pointer-events: all;
    transition: opacity .12s .36s ease-out;
    z-index: 301;

    > div {
      height: inherit;
      overflow-y: auto;
      width: 100%;
    }

    @include bp-sm() {
      height: auto;
    }
  }

  @include bp-sm() {
    bottom: calc(#{$space-lg} - #{$space-xxs});
    height: auto;
    opacity: 1;
    pointer-events: all;
    position: fixed;
    z-index: 301;
  }

  @include bp-md() {
    bottom: calc(#{$space-xxl} - #{$space-xxs});
  }

  ul {
    margin-bottom: $space-md;

    @include bp-sm() {
      margin-bottom: calc(#{$space-lg} - #{$space-xxs});
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul ul {
    margin-left: $space-sm;
    margin-bottom: $space-sm !important;
  }

  li {
    &.is-home {
      @include bp-sm() {
        display: none;
      }
    }
  }

  a {
    color: $color-black;
    display: inline-block;
    padding: $space-xxs 0;
    transition: color .06s ease-in;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      @include bp-sm() {
        color: $color-eggshell;
      }
    }

    &.is-active {
      @extend %underline;
      color: $color-black !important;
    }
  }
}