/**
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

article {
  @extend %word-break;
  position: relative;

  .content-list__inner,
  .content-text__inner {
    padding: $space-lg $space-sm;
    @include bp-sm() {
      padding-left: $space-lg;
    }
    @include bp-md() {
      padding: $space-xxl $space-lg $space-xxl $space-xxl;
    }
  }

  a {
    color: $color-black;
  }
}

/**
 * Content text articles
 */

article.content-text {
  h2 {
    margin-bottom: $space-sm;
    @include bp-sm() {
      margin-bottom: $space-lg;
    }
  }
}

/**
 * Content list articles
 */

article.content-list {
  border-bottom: 1px dashed $color-black;

  h2 {
    margin-bottom: $space-tiny;
  }

  ul {
      list-style: none;
      margin-left: 0;
      padding-left: 1em;
  }

  ul > li:before {
    display: inline-block;
    content: "–";
    width: 1em;
    margin-left: -1em;
  }

  li {
    display: list-item;
    margin-bottom: $space-xxs;

    @include bp-sm() {
      margin-bottom: $space-xs;
    }
  }

  .is-hidden {
    display: none;
    &.is-visible {
      display: block !important;
    }
  }

  .content-list__body {
    margin-top: $space-sm;
    @include bp-md() {
      margin-top: $space-lg;
    }

    h3 {
      @include font-size($fs-md);
    }
  }
}

/**
 * Team
 */

article.content-list--team {
 
  .content-list__media {
    padding-right: $space-sm;
    
    @include bp-md() {
      padding-right: $space-lg;
    }

    figure {
      display: flex;

      img {
        @extend %is-responsive;
        max-width: 120px;
        
        @include bp-md() {
          max-width: 240px;
        }
      }

      figcaption {
        padding-left: $space-sm;
        -ms-word-break: normal;
        word-break: normal;
        word-break: normal;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        hyphens: none;

        @include bp-sm() {
          padding-left: $space-lg;
        }

        p {
          @include font-size($fs-sm);
        }
      }
    }
  }
}

/**
 * Events
 */

article.content-list--events {

  > div {
    @include bp-md() {
      padding-top: $space-lg;
    }
  }

  h3 {
    @include bp-md() {
      min-height: $space-lg;
    }
  }

  .content-list__body {
    @include font-size($fs-sm);
  }

  form {
    border-top: 1px dashed $color-white;
    @include font-size($fs-sm);
    
    > div {
      padding: $space-sm $space-sm;
    
      @include bp-sm() {
        padding-left: $space-lg;
      }
  
      @include bp-md() {
        padding: $space-lg $space-lg $space-xxl $space-xxl;
      }
    }
  }
}

