/**
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

article {
  @extend %word-break;
  position: relative;

  .content-list__inner,
  .content-text__inner {
    padding: $space-lg $space-sm;
    @include bp-sm() {
      padding-left: $space-lg;
    }
    @include bp-md() {
      padding: $space-xxl $space-lg $space-xxl $space-xxl;
    }
  }

  a {
    color: $color-black;
  }
}

/**
 * Content text articles
 */

article.content-text {
  h2 {
    margin-bottom: $space-sm;
    @include bp-sm() {
      margin-bottom: $space-lg;
    }
  }

  &.content-text--toc {

    h3 {
      @include font-size($fs-md);
      margin-bottom: $space-sm;
      margin-top: $space-lg;

      @include bp-md() {
        margin-top: $space-xl;
      }

      &:first-of-type {
        margin-top: 0 !important;
      }
    }

    h4, p {
      @include font-size($fs-sm);
      margin-bottom: $space-sm;
    }

    h4 {
      margin-bottom: $space-xs;
    }
  }

  &.content-text--contact {
    .fs-sm {
      line-height: 1.3;
    }
  }
}

/**
 * Content list articles
 */

article.content-list {
  border-bottom: 1px dashed $color-black;

  h2 {
    margin-bottom: $space-tiny;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 1em;
    margin-bottom: $space-sm;
    @include bp-md() {
      margin-bottom: $space-lg;
    }
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  ul > li:before {
    display: inline-block;
    content: "–";
    width: 1em;
    margin-left: -1em;
  }

  li {
    display: list-item;
    margin-bottom: $space-xxs;
    @include bp-sm() {
      margin-bottom: $space-xs;
    }
  }

  .is-hidden {
    display: none;
    &.is-visible {
      display: block !important;
    }
  }

  .content-list__body {
    margin-top: $space-sm;
    @include bp-md() {
      margin-top: $space-lg;
    }

    h3 {
      @include font-size($fs-sm);
      margin-bottom: $space-xs;
    }
  }
}

/**
 * Team
 */

article.content-list--team {
 
  .content-list__media {
    
    @include bp-md() {
      padding-left: $space-lg;
    }

    figure {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      img {
        @extend %is-responsive;
        max-width: 120px;
        
        @include bp-sm() {
          max-width: 33.3333%;
        }
      }

      &.is-intro {
        grid-template-columns: repeat(1, 1fr);
        justify-content: flex-end;
        img {
          max-width: 50% !important;
        }
      }

      figcaption {
        padding-left: $space-sm;
        padding-right: $space-sm;
        -ms-word-break: normal;
        word-break: normal;
        word-break: normal;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        hyphens: none;

        @include bp-sm() {
          padding-left: $space-lg;
        }

        p {
          @include font-size($fs-sm);
        }
      }
    }
  }
}

/**
 * Testimonials
 */

article.content-list--testimonial {
  .content-list__body {
    @include font-size($fs-sm);
  }
}

/**
 * Blog
 */

article.content-list--blog {
   
  .content-list__body {
    @include font-size($fs-sm);
  }

  .content-list__media {

    figure {

      img {
        @extend %is-responsive;
      }

      figcaption {
        display: block;
        @include font-size($fs-sm);
        padding: $space-md $space-sm;

        @include bp-sm() {
          padding-left: $space-lg;
        }
        
        @include bp-md() {
          padding: $space-lg $space-lg $space-lg $space-xxl;
        }
      }
    }

  }
}

/**
 * Events
 */

article.content-list--events {

  > div {
    @include bp-md() {
      padding-top: $space-lg;
    }
  }

  h3 {
    @include bp-md() {
      min-height: $space-lg;
    }
  }

  .content-list__body {
    @include font-size($fs-sm);
  }

  form {
    border-top: 1px dashed $color-white;
    @include font-size($fs-sm);
    
    > div {
      padding: $space-sm $space-sm;
    
      @include bp-sm() {
        padding-left: $space-lg;
      }
  
      @include bp-md() {
        padding: $space-lg $space-lg $space-xxl $space-xxl;
      }
    }
  }
}

