/**
 * -----------------------------------------------------------------------------
 * File: layout/grid
 * -----------------------------------------------------------------------------
 *
 */

%grid,
.grid {
  display: grid;
}

%content-grid,
.content-grid {
  display: grid;
  grid-template-columns: 1fr;

}
