/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h1
 * -----------------------------------------------------------------------------
 */

h1 {
  @include font-size($fs-lg);
  
  a {
    color: $color-black;
  }

  &.is-sm {
    display: block;
  }

  &.is-md {
    display: none;
  }

  @include bp-sm() {

    &.is-sm {
      display: none;
    }
  
    &.is-md {
      background-color: $color-sand;
      display: block;
      position: fixed;
      top: $space-lg;
      z-index: 401;
    } 
  }

  @include bp-md() {
    &.is-md {
      top: $space-xxl;
    }
  }
}