/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 */

$fs-xs: (
  null: (12px,1.25),
  sm:   (12px,1.25),
  md:   (14px,1.13),
  lg:   (14px,1.13)  
);

$fs-sm: (
  null: (14px,1.25),
  sm:   (14px,1.25),
  md:   (17px,1.13),
  lg:   (17px,1.13)  
);

$fs-md: (
  null: (18px,1.2),
  sm:   (18px,1.2),
  md:   (20px,1.13),
  lg:   (20px,1.13)  
);
