/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

@font-face {
  font-family: 'Graebenbach';
  src: url('fonts/Graebenbach-Regular.eot');
  src: url('fonts/Graebenbach-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Graebenbach-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}