/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 */

$fs-sm: (
  null: (15px,1.25),
  sm:   (15px,1.25),
  md:   (23px,1.25),
  lg:   (23px,1.25)  
);

$fs-md: (
  null: (21px,1.2),
  sm:   (21px,1.2),
  md:   (38px,1.13),
  lg:   (38px,1.13)  
);

$fs-lg: (
  null: (21px,1.2),
  sm:   (21px,1.2),
  md:   (38px,1.13),
  lg:   (60px,1.13)  
);

